{% extends 'base.html' %}

{% block 'title' %} <title>Register</title>{% endblock %}

{% block content %}
<br><br>
<form action="{% url 'account:register' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container" style="width:600px;">
        <div class="jumbotron">
            <h2 align="center">Register</h2>
            <!-- First name input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="first_name">First name</label>
                <input type="text" name="first_name" class="form-control" />
            </div>

            <!-- Last name input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="last_name">Last name</label>
                <input type="text" name="last_name" class="form-control" />
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="email">Email</label>
                <input type="email" name="email" class="form-control" />
            </div>
            <!-- Username input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="username">Username</label>
                <input type="text" name="username" class="form-control" />
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="password1">Password</label>
                <input type="text" name="password1" class="form-control" />
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="password2">Confirm password</label>
                <input type="text" name="password2" class="form-control" />
            </div>
            <br>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Register now</button>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Have a member? <a href="{% url 'account:login' %}">Login</a></p>
            </div>
        </div>
    </div>
</form>
{% endblock %}