{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<section class="about" id="about">
    <h3 class="sub-heading">about us</h3>
    <h1 class="heading">why choose us?</h1>
  
    <div class="row">
      <div class="image">
        <img src="img/pngwing.com (46).png" alt="" />
      </div>
  
      <div class="content">
        <h3>best food in the counry</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure
          dignissimos ea voluptate quaerat expedita, voluptatibus ab
          laudantium, reiciendis earum numquam id voluptatem! Libero explicabo
          vero possimus incidunt inventore sequi doloribus?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis fuga
          alias ipsa unde mollitia. Ut quaerat consectetur porro vitae a?
        </p>
        <div class="icons-container">
          <div class="icons">
            <i class="fas fa-shipping-fast"></i>
            <span>free delivery</span>
          </div>
          <div class="icons">
            <i class="fas fa-dollar-sign"></i>
            <span> easy payments </span>
          </div>
          <div class="icons">
            <i class="fas fa-headset"></i>
            <span> 24/7 service </span>
          </div>
        </div>
        <a href="#" class="btn"> Learn More</a>
      </div>
    </div>
  </section>

  {% endblock %}