
<link rel="stylesheet" href="./base.css">
<nav class="navbar" style="display: flex;
justify-content: space-between;
align-items: center ; color:gray;
">
<a href="#" class="logo"><i class="fas fa-utensils"></i> Resto. </a>
    <a class="#home" href="">home</a>
    <a href="#dishes">new_dishes</a>
    <a href="{% url 'main:about' %}">about</a>
    <a href="{% url 'main:menu' %}">menu</a>
    <a href="{% url 'main:emp' %}">employees</a>
    <a href="{% url 'account:login' %}">login</a>
    <!-- <a href="{% url 'account:logout' %}">logout</a> -->
    <a href="{% url 'account:register' %}">register</a>

</nav>
<div class="icons">
    <i class="fas fa-bars" id="menu-bars"></i>
    <i class="fas fa-search" id="search-icon"></i>
    <a href="#" class="fas fa-heart"></a>
    <a href="#" class="fas fa-shopping-cart"></a>
</div>